/* Regular */
@font-face {
    font-family: Poppins;
    src: url(./../fonts/Poppins-Regular.ttf)  format("truetype");
    font-weight: normal;
}

/* Bold */
@font-face {
    font-family: Poppins;
    src: url(./../fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: bold;
}